blinker==1.9.0
click==8.5.0
cloudpickle==3.1.2
Flask==3.1.3
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.6.0
MarkupSafe==3.0.3
narwhals==2.26.0
numpy==2.5.3
opencv-python==4.14.0.94
pandas==3.0.6
python-dateutil==2.9.0.post0
scikit-learn==1.9.1
scipy==1.18.1
six==1.17.0
threadpoolctl==3.7.0
tzdata==2026.4
Werkzeug==3.1.8
